<nav>
    <div class="site-title">
        <a href="/"><h1>Music Inventory</h1></a>
        <p> Lorem ipsum kasdol asdfk jasdfn</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/items">Items</a></li>
    </ul>
</nav>